.seccion-cys{
  border: solid 2px;
}

.carrera__bg{
  background-color: $carrera;
}

.carrera{
  p:last-of-type{
    margin-bottom: 0;
  }
  img{
    @include img  
  }
}

@media(min-width: 576px){
  .carrera img, iframe, p{
      margin: 0;
  }
}

.trofeos__bg{
  background-color: $seleccion;
}

.trofeos{
  img{
    @include img
  }
  h3{
    margin-top: $margin;
    margin-bottom: $margin;
  }
}

.clubes__bg{
  background-color: $cys;
}

.clubes{
  color: white;
  h3{
    display: flex;
    justify-content: center;
  }
  img{
    @include img
  }
}

.seccion__fcb{
  margin-bottom: 0;
}